/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.chemcard {
    background-color: var(--background-primary);
    border-radius: var(--radius-m);
    border: 1px solid var(--background-modifier-border);
    margin: 0 10px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
}